---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Games 2024 | Astro Games Check">
	<section class="container py-16 px-20">
		<div class="row">
			<div class="col-12 col-lg-12">
				<h1 class="text-3xl font-sans">
					~ Games 2024
				</h1>
			</div>
			<section class="grid grid-cols-7 gap-4 py-8">
				<Card />
			</section>
		</div>
	</section>
</Layout>