---
// import { supabase } from "../services/supabase";

// let { data: Games_2024, error } = await supabase.from("Games_2024").select("*");

// console.log(Games_2024, error);


---
<article class="border bg-slate-800 rounded-lg p-1">
	<head>
		<img class="rounded-lg" src="https://images.igdb.com/igdb/image/upload/t_cover_big/co4tsp.png" alt="">
	</head>
	<footer>
		<p class="text-md font-mono">
			Titulo
		</p>
	</footer>
</article>